.ccls-cache
build
build-*/
docs/doxygen/xml
docs/doxygen/latex
docs/doxygen/html
docs/sphinx/build
CMakeCache.txt 
CMakeFiles/
src/mpi-buckets/Makefile
cmake_install.cmake 
*.log
.vscode
*.gch

# eclipse stuff
.cproject
.project
.settings/*

# ninja stuff
*.ninja*

# IntelliJ/IDEA Clion stuff
.idea/
cmake-build-*/

# Vim swapfiles, etc
*.swp
*.swo

*.e
