name: ubuntu-serial
  
# Trigger the workflow on push or pull request
on:
  push:
    branches:  
      - master
  pull_request:

  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    env:
      CMAKE_BUILD_TYPE: Release

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      shell: bash
      run: |
           sudo apt-get update -y -qq
           sudo apt-get install -y libblas-dev liblapack-dev
           sudo apt-get install -y libmetis-dev
           sudo apt-get install -y netcdf-bin libnetcdf-dev
           sudo apt-get install -y libhdf5-serial-dev libhdf5-mpich-dev
           sudo add-apt-repository ppa:nschloe/seacas-nightly
           sudo apt-get update -y -qq
           sudo apt-get install -y seacas-bin libseacas-dev
    - name: configure
      run: |
           mkdir build && cd build
           export ACCESS=`pwd`
           cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-Werror" \
                 -Dexodus_INCLUDE_DIR="/usr/include" \
                 -Dexodus_LIBRARY="/usr/lib/x86_64-linux-gnu/libexodus.so" \
                 ..
    - name: build
      run: cmake --build build
    - name: test
      run: |
           cd build
           export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:${PATH}"
           make test
    - name: Upload log files
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: log-files
        path: ./**/*.log
